// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-gray: #3D3C3A;
$gray-2: #707070;
$beige: #DDD4BC;
$amarillo: #F8DC0B;
$naranja: #FBA827;
$dark-blue: #003058;
$teal:    #20c997;
$cyan:    #0dcaf0;
$gray-100: #f8f9fa;
$light-blue: #f3f6fc;
