
.binfo-container {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    text-decoration: none;
  }
}

.second-title {
  color: #9d8144;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.binfo-container2 {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    text-decoration: none;
  }
}

.binfo-container3 {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;

  h3 {
    padding: 0;
    margin: 0;
    font-size: 20px;
    text-decoration: none;
  }
}
