// Specific CSS for your home-page

.container1 {
  background-color: $dark-blue;
  padding: 20px;

  p {
    color: $light-gray;
    font-size: 15px;
  }

  h1 {
    color: $light-gray;
  }

  h4 {
    color: $light-gray;
    font-size: 25px;
  }
}

.container2 {
  background-color: light-gray;
  padding: 50px;

  i {
    color: gray;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }

  h2 {
    color: $dark-blue;
    font-size: 15px;
  }

  a {
    color: $black;
    text-decoration: none;
    font-size: 15px;
  }
}

.container3 {
  background-color: $dark-blue;
  padding: 50px;

  i {
    color: $white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
  }

  h2 {
    color: $white;
    font-size: 20px;
  }

  h4 {
    color: $white;
    text-align: center;
    font-size: 15px;
  }

  a {
    color: $white;
    text-align: left;
    font-size: 15px;
  }
}

.container4 {
  background-color: $light-gray;
  padding: 50px;
  align-content: center;

  h2 {
    color: $dark-blue;
    font-size: 20px;
  }
}

img {
  width: 100%;
  border-radius: 8px;
}
