// Specific CSS for your home-page

.container1 {
  background-color: $dark-blue;
  padding: 20px;

  p {
    color: $light-gray;
  }

  h1 {
    color: $light-gray;
  }
}

.container2 {
  background-color: light-gray;
  padding: 50px;

  i {
    color: gray;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 50px;
  }
}

.container3 {
  background-color: $dark-blue;
  padding: 50px;

  i {
    color: $white;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 50px;
  }
}
