<h1> All bookings </h1>
<ul>
 <% @bookings.each do |booking| %>
  <li> <%= booking.bag.name %> </li>
  <%#= booking.total_price %>
  <%#= booking.start_date %>
  <%#= booking.end_date %>
  <%#= booking.booking_desc %>
  <%#= booking.status %>
 <% end %>
</ul>

<%= link_to "Go to bags", bags_path %>
