<h1> All bookings </h1>

<% @bookings.each do |booking| %>
  <%# Puedes ponerlo como [@bag, booking] y va adivinar que te refieres a bag_booking_path %>
  <%= link_to "Booking #{booking.id}", bag_booking_path(@bag, booking) %>
<% end %>

<br/>
<br/>
<br/>

<%= link_to "Go to bags", bags_path %>
