<section>
  <div class="container4">
    <h2 class="text-center p-3"><strong>Find your perfect bag!</strong></h2>
    <div class="d-flex justify-content-center">
      <div class="bags-index-container">
        <%= render "shared/card" %>
      </div>
    </div>
  </section>
