<div class="container-new">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="container-new p-5 rounded">
        <h1><strong>Add a new bag to your inventory</strong> </h1>
        <%= render 'simple_form', bag: @bag %>
      </div>
    </div>
  </div>
</div>
