<div class="container-about">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center p-5">About us</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="text-center">Our company seeks to help people who are in need of bag, to be able to get one quickly and for a small price.</p>
      <p class="text-center">We also want to help people who have bags that they don't use, to be able to make some money out of them.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2 class="text-center"></h2>
    </div>
  </div>
</div>
