<div class="container">
  <div class="row justify-content-center text-center">
    <h1 class="m-3"><strong>Bags2go!</strong></h1>
    <p>Rent your bags with us!</p>
  </div>
</div>

<div class="container">
  <div class="d-flex justify-content-between">
    <div class="m-1 p-5 border">
      <h2 class="text-center m-1">Bags</h2>
      <p>Choose a bag you like!</p>
      <p class="text-center"> <%= link_to "See our Bags!", bags_path, class: "btn btn-outline-primary" %> </p>
    </div>
    <div class="m-1 p-5 border">
      <h2 class="text-center m-1">Bookings</h2>
      <p>See the bookings you currently have!</p>
      <p class="text-center"> <%= link_to "See your Bookings!", my_bookings_bookings_path, class: "btn btn-outline-success" %> </p>
    </div>
    <div class="m-1 p-5 border">
      <h2 class="text-center m-1">Bag Owner</h2>
      <p>See the bags you have for rent!</p>
      <p class="text-center"> <%= link_to "See your the bags you have for rent!", my_bags_bags_path, class: "btn btn-outline-danger" %> </p>
    </div>
  </div>
</div>
