.bag-container {
  width: 14rem;
  padding: 20px;
  text-decoration: none;

  img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h5 {
    color: $gray;
    font-weight: bold;
  }
  p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    text-decoration: none;
  }

  a {
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
  }
}

.bags-index-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bag-show {
  width: 14rem;
  padding: 20px;
  text-decoration: none;

  img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h5 {
    color: $gray;
    font-weight: bold;
  }
  p {
    padding: 0;
    margin: 0;
    font-size: 15px;
    text-decoration: none;
  }

  a {
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
  }
}
