.navbar-lewagon {
  justify-content: space-between;
  background: white;
  position: sticky;
  top: 0;
  z-index: 6000;
}

.text-decoration-none {
  text-decoration: none;
  color: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.text-icon {
  flex: auto;
  justify-items: flex-start;
  margin-bottom: 0;
}

.home-card-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.home-card-container > * {
  width: calc(100% / 4) !important;
}
