// Graphical variables
@import "config/fonts"; // Importing fonts
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

h1 {
  color: 	#003058;
    font-family: Nunito;
    font-size: 50px;
  }

h2 {
  color: 	black;
  font-family: Nunito;
  font-size: 30px;
  &:hover {
    color: #9d8144;
  }
}
body {
  background: #e8eff0; // Using this variable
}

p {
  padding: $spacer ($spacer * 3);
  color: black;}
